LLMOD_BASE_URL=https://api.llmod.ai/v1
LLMOD_API_KEY=your_llmod_api_key_here
PINECONE_API_KEY=your_pinecone_api_key_here

# Optional overrides
# LLMOD_EMBED_MODEL=4UHRUIN-text-embedding-3-small
# LLMOD_CHAT_MODEL=4UHRUIN-gpt-5-mini
# PINECONE_INDEX=ragmedium
# PINECONE_NAMESPACE=
